$colorint1: #0b0b4d;
$pageBackColer: #e7e7e7;
$tableHeaderColor: #d9d7d7;
$tableGridColors: #94949d;
$tableRowBGColor: #ededed;
$buttonBorderColor: #c1c1c1;

$border: #94949d;
$primary: #0b0b4d;
$contentBg: #ffffff;
$dark-grey: #94949d;
$subhead-color: #d10101;
$outline-hover: rgba(0, 0, 0, 0.05);

$danger-color: #dc3545;
$pri-color: #007bff;
$success-color: #28a745;
$warning-color: #ffc107;
$orange-color: #ff8b07;
$info-color: #17a2b8;

$font: "Roboto", sans-serif;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;

$generalFontSize: 10.5px;
$headingSize: 12px;
$headerFontSize: 20px;

$md-txt: 14px;
